<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:fragment="homeCommonHeader(title)">
	<title>Bootstrap Home</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body class="container">
    <!-- 页面顶部导航栏 -->
	<div th:fragment="commonNav">
		<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
		  <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>
		  <nav class="my-2 my-md-0 mr-md-3">
		    <a class="p-2 text-dark" href="#">Features</a>
		    <a class="p-2 text-dark" href="#">Enterprise</a>
		    <a class="p-2 text-dark" href="#">Support</a>
		    <a class="p-2 text-dark" href="#">Pricing</a>
		  </nav>
		  <a class="btn btn-outline-primary" href="#">Sign in</a>
		</div>
	</div>
	
	<!-- 页面底部部分 -->
	<div th:fragment="commonFooter">
		<div class="jumbotron text-center"
			style="margin-bottom: 0; height: 10px">
			<p>底部内容</p>
		</div>
	</div>
</body>
</html>